* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Century Gothic', sans-serif;
    vertical-align: baseline;
}

h1 {
    font-size: 1.3vw;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    color: #53196F;
    margin-left: 15vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

p {
    font-family: "Century Gothic", sans-serif;
    font-size: .9vw;
    color: #53196F;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

nav {
    margin-left: 10vw;
    margin-right: 10vw;
}

.header-top {
    justify-content: space-between;
    border-bottom: 2px solid #53196F;

}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wrapper li a:hover {
    border-bottom: 4px solid #7E5390;
    /*opacity: 70%;*/
    color: #7E5390;
}

.wrapper li a.logo:hover {
    opacity: 70%;
    border-bottom: 0px;
}

.logo img {
    width: 50%;
    height: 50%;
    margin-top: 2vh;
    margin-bottom: .5vw;
}

.menu-item {
    padding: 20px;
    font-size: 1.3vw;
    font-weight: bold;
    color: #53196F;
    font-family: 'Century Gothic', sans-serif;
}

.top-menu {
    display: flex;
}

.top-menu .menu-span {
    margin: auto;
    margin-right: 0;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
}

.mid-left {
    position: relative;
    text-align: justify;
    width: 15%;
    color: #53196F;
    /*margin: 5vh, 20vh, 1vh, 5vh;*/
    margin-top: 5vw;
    margin-right: 10vw;
    margin-left: 15vw;
}

.mid-left h1 {
    margin-left: 0;
    margin-top: 0;
}

.button {
    background-color: #53196F;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9vw;
    cursor: pointer;
    margin-bottom: 1vh;
}

.curiosities {
    background-color: #53196F;
}

.curiosity {
    padding: 1vw;
}

.left {
    margin-left: 5.5vw;
}

.right {
    margin-right: 5vw;
}

.row {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    display: flex;
}

.row p {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

.row-item {
    width: 75%;
}

.row-item p {
    text-align: center;
    color: #53196F;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.margin {
    margin-left: 10vw;
    margin-right: 8vw;
}

.follow {
    text-align: center;
}

.follow p {
    font-size: 1.4vw;
    margin-bottom: 3vw;
}

.follow .flex {
    margin-left: 30vw;
    margin-right: 30vw;
}

.follow img {
    width: 100%;
}

footer {
    background-color: #53196f;
    text-align: center;
    padding: 3vw;
}

footer p {
    color: white;
}

footer p:first-child {
    margin-bottom: 2vw;
}

.mobile-logo {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

@media (min-width: 970px) {
    ul.wrapper li {
        display: block;
    }
    .mobile-logo {
        display: none;
    }
    .menu-span {
        display:none;
    }
    .banner img {
        width: 40%;
    }
}

@media (max-width: 970px) {
    ul.wrapper li {
        display: none;
    }
    .mobile-logo {
        display: block;
    }
    .menu-span {
        display: block;
    }
    h1 {
        font-size: 6vw;
        text-align: center;
        margin-left: 0;
    }
    p {
        font-size: 3.5vw;
    }
    .mid-left {
        width: 60%;
        text-align: left;
        position: absolute;
        background-color: #53196F;
        padding: 20px;
        opacity: 0.9;
        margin-top: 4vw;
    }
    .mid-left h1 {
        font-size: 5vw;
    }
    .mid-left h1, p {
        color: white;
        text-align: left;
    }
    .banner img {
        width: 100%;
    }
    .mid-left a {
        font-size: 16px;
        background-color: white;
        color: #53196F;
        padding: 8px 0px;
    }
    .flex {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .right {
        margin-left: 5.5vw;
        margin-right: 0;
    }

    .row-item {
        width: 100%;
        margin-top: 5vw;
    }

    .row-item p {
        font-size: 6vw;
        margin-top: 2vw;
        margin-bottom: 5vw;
    }

    .row img {
        width: 10vw !important;
    }

    .follow p {
        font-size: 6vw;
        color: #53196F;
        text-align: center;
        font-weight: bold;
    }
    .follow .flex {
        flex-direction: row;
        margin-left: 20vw;
    }

    .follow .flex a {
        margin: 2vw;
    }

    .follow .flex img {
        margin: 5vw;
        width: 100%;
    }

    .margin {
        margin-right: 10vw;
    }

    footer p {
        text-align: center;
    }
}